---
// Страница админки (/admin). Загружает Decap CMS с русским интерфейсом.
// Файлы программы лежат в public/admin/ (self-hosted),
// формы описаны в public/admin/config.yml.
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <title>Админка сайта храма</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Явный путь к настройкам форм (страница живёт на /admin без слэша) -->
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
  </head>
  <body>
    <script src="/admin/decap-cms.js" is:inline></script>
    <script src="/admin/decap-cms-ru.js" is:inline></script>
    <script is:inline>
      // Включаем русский перевод интерфейса
      CMS.registerLocale('ru', window.DecapRuLocale);
    </script>
  </body>
</html>
